*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
}
body {
  font-size: 14px;
  font-family: "Microsoft YaHei", sans-serif;
  color: #777;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: #777;
}
.f_left {
  float: left;
}
.f_right {
  float: right;
}
.clearFix::before,
.clearFix::after {
  content: "";
  display: block;
  visibility: hidden;
  height: 0;
  line-height: 0;
  clear: both;
}
.m_l10 {
  margin-left: 10px;
}
.m_r10 {
  margin-right: 10px;
}
.m_t10 {
  margin-top: 10px;
}
.m_b10 {
  margin-bottom: 10px;
}
.r_content_top ul {
  width: 575px;
  height: 36px;
  border-bottom: 1px solid #CCC;
  position: relative;
}
.r_content_top ul li {
  width: 105px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  float: left;
  background-color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  color: #1665A7;
  cursor: pointer;
}
.r_content_top ul li:hover {
  background-color: #1665A7;
  color: white;
}
.r_content_top ul .content_active {
  width: 105px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  float: left;
  background-color: #1665A7;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  color: white;
  cursor: pointer;
}
.r_content_top ul .more {
  position: absolute;
  top: 5px;
  right: 10px;
  text-decoration: none;
}
.r_content_bottom h4 {
  color: #1665A7;
  display: block;
  width: 450px;
  height: 20px;
  font-weight: 600;
  margin: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 15px;
}
.r_content_bottom ul {
  width: 575px;
  height: auto;
  position: relative;
}
.r_content_bottom ul li {
  width: 575px;
  margin-top: 10px;
  position: relative;
  display: block;
}
.r_content_bottom ul li::before {
  content: '';
  position: absolute;
  left: 7px;
  top: 7px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #bbd1e9;
}
.r_content_bottom ul li a {
  display: block;
  width: 400px;
  color: #333;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: keep-all;
  padding-left: 20px;
}
.r_content_bottom ul li span {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 30px;
}
.all_left_top {
  width: 240px;
  height: 40px;
  background-color: #1665A7;
  color: white;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  font-weight: 600;
}
.content_active {
  display: block;
  width: 105px;
  height: 36px;
  background-color: #1665A7;
  color: white;
  text-align: center;
  line-height: 36px;
  font-size: 16px;
  font-weight: 600;
}
.content_active a {
  color: white;
}
.fly {
  position: absolute;
  z-index: 100000;
  width: 165px;
  height: 98px;
  border: 2px solid #1665A7;
  background-color: white;
  text-align: left;
  font-size: 14px;
  font-weight: 600;
}
.fly ul {
  width: 80%;
  height: 100%;
  margin-left: 25px;
}
.fly ul li {
  width: 100%;
  height: 25px;
  line-height: 25px;
  margin-top: 4px;
}
.fly ul li a {
  color: #1665A7;
  text-decoration: none;
}
header {
  width: 100%;
  height: 45px;
  background-color: #ebebeb;
  position: relative;
}
header .header_content {
  width: 1040px;
  height: 45px;
  margin: 0 auto;
  background-color: #ebebeb;
  position: relative;
}
header .header_content .f_left li {
  float: left;
  line-height: 45px;
  margin-right: 10px;
}
header .header_content .f_right {
  position: absolute;
  top: 0;
  right: 0;
}
header .header_content .f_right li {
  float: right;
  line-height: 45px;
  margin-left: 5px;
}
header .header_content .f_right li a {
  text-decoration: none;
}
header .header_content form label {
  line-height: 45px;
  font-weight: normal;
  margin-left: 30px;
}
header .header_content form label input {
  line-height: 20px;
}
header .header_content form #btn_login {
  border: none;
  margin-left: 10px;
  width: 60px;
  height: 25px;
  background-color: #2c8ed7;
  color: white;
}
.header_img {
  width: 100%;
  height: 170px;
  min-width: 1040px;
  display: block;
  background: url("../images/gongan_02.jpg") no-repeat center;
}
nav {
  width: 100%;
  background-color: #1c72bb;
  position: relative;
}
nav .nav_content {
  margin: 0 auto;
  position: relative;
  width: 1040px;
  height: 45px;
  background-color: #1c72bb;
}
nav .nav_content ul {
  width: 100%;
  height: 45px;
}
nav .nav_content ul li {
  float: left;
  width: 114px;
  height: 100%;
  display: block;
  line-height: 45px;
  text-align: center;
  position: relative;
}
nav .nav_content ul li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 600;
}
nav .nav_content ul li::after {
  position: absolute;
  right: 0;
  top: 12px;
  line-height: 45px;
  height: 20px;
  content: '';
  border-right: 1px solid #619dd1;
}
nav .nav_content ul li:hover {
  background-color: #1665a7;
}
nav .nav_content ul li:hover::after {
  display: none;
}
nav .nav_content ul li:last-child::after {
  display: none;
}
nav .nav_content ul .nav_active {
  float: left;
  width: 114px;
  height: 100%;
  display: block;
  line-height: 45px;
  text-align: center;
  position: relative;
  background-color: #1665a7;
}
nav .nav_content ul .nav_active a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 600;
}
nav .nav_content ul .nav_active::after {
  position: absolute;
  right: 0;
  top: 12px;
  line-height: 45px;
  height: 20px;
  content: '';
  border-right: 1px solid #619dd1;
}
.main_content {
  width: 100%;
  height: 100%;
  background: url("../images/gongan_05.jpg") repeat-x;
  position: relative;
}
.main_content .section_content {
  background-color: white;
  width: 1040px;
  height: 2000px;
  position: relative;
  margin: 0 auto;
}
.main_content .section_content .section01 {
  position: relative;
}
.main_content .section_content .section01 .t_img {
  width: 1040px;
  height: 55px;
  background: url("../images/gongan_07.gif");
}
.main_content .section_content .section01 .l_img {
  float: left;
  margin: 10px;
  background: url("../images/gongan_03.jpg");
  width: 434px;
  height: 304px;
}
.main_content .section_content .section01 .r_content {
  float: right;
  margin: 10px;
  margin-left: 0;
  width: 575px;
  height: 304px;
  position: relative;
}
.main_content .section_content .section02 {
  position: absolute;
  top: 380px;
  width: 100%;
  height: 200px;
}
.main_content .section_content .section02 .sec2_t_img {
  width: 1039px;
  height: 80px;
  background: url("../images/gongan_11.gif") no-repeat;
}
.main_content .section_content .section02 .sec2_left {
  width: 240px;
  height: 365px;
  float: left;
  overflow: hidden;
}
.main_content .section_content .section02 .sec2_left ul {
  width: 210px;
  height: 320px;
  margin-top: 10px;
  margin-left: 15px;
}
.main_content .section_content .section02 .sec2_left ul li {
  width: 210px;
  height: 30px;
  background-color: #e7f0f7;
  margin-top: 1.5px;
  line-height: 30px;
  padding-left: 20px;
  position: relative;
}
.main_content .section_content .section02 .sec2_left ul li a {
  color: #333;
  text-decoration: none;
}
.main_content .section_content .section02 .sec2_left ul li::before {
  content: '';
  width: 3px;
  height: 30px;
  position: absolute;
  background-color: #ffcb80;
  top: 0;
  left: 0;
}
.main_content .section_content .section02 .sec2_left ul li:nth-child(2)::before {
  background-color: #90bf63;
}
.main_content .section_content .section02 .sec2_left ul li:nth-child(3)::before {
  background-color: #51acbe;
}
.main_content .section_content .section02 .sec2_left ul li:nth-child(4)::before {
  background-color: #7ad9dd;
}
.main_content .section_content .section02 .sec2_left ul li:nth-child(5)::before {
  background-color: #ff8081;
}
.main_content .section_content .section02 .sec2_left ul li:nth-child(6)::before {
  background-color: #b48fff;
}
.main_content .section_content .section02 .sec2_left ul li:nth-child(7)::before {
  background-color: #689ce5;
}
.main_content .section_content .section02 .sec2_left ul li:nth-child(8)::before {
  background-color: #ffad64;
}
.main_content .section_content .section02 .sec2_left ul li:nth-child(9)::before {
  background-color: #a8a8a8;
}
.main_content .section_content .section02 .sec2_center {
  width: 550px;
  height: 365px;
  overflow: hidden;
  float: left;
}
.main_content .section_content .section02 .sec2_center .search {
  width: 550px;
  height: 55px;
  background-color: #eef1f8;
  color: #333;
  line-height: 55px;
}
.main_content .section_content .section02 .sec2_center .search label {
  font-weight: normal;
  margin-left: 30px;
}
.main_content .section_content .section02 .sec2_center .search #search_text {
  margin-left: 30px;
  line-height: 25px;
  width: 200px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.main_content .section_content .section02 .sec2_center .search .btn_search_div {
  position: relative;
  float: right;
  margin-right: 30px;
}
.main_content .section_content .section02 .sec2_center .search .btn_search_div #btn_search {
  line-height: 30px;
  width: 75px;
  height: 30px;
  background-color: #1665A7;
  border: none;
  color: white;
  border-radius: 5px;
  margin-left: 5px;
  padding-left: 20px;
}
.main_content .section_content .section02 .sec2_center .search .btn_search_div img {
  display: block;
  position: absolute;
  width: 22px;
  height: 22px;
  left: 15px;
  top: 17px;
  z-index: 10;
}
.main_content .section_content .section02 .sec2_center .r_content_bottom {
  margin-top: 20px;
}
.main_content .section_content .section02 .sec2_center .more {
  margin-right: 25px;
}
.main_content .section_content .section02 .sec2_right {
  width: 230px;
  height: 365px;
  float: right;
  overflow: hidden;
}
.main_content .section_content .section02 .sec2_right .all_left_top {
  width: 230px;
}
.main_content .section_content .section02 .sec2_right ul li {
  margin-top: 8px;
}
.main_content .section_content .section02 .sec2_right ul li a {
  display: block;
  text-align: center;
}
.main_content .section_content .section02 .sec2_right ul li a img {
  width: 100%;
  height: 100%;
  display: block;
}
.main_content .section_content .section03 {
  position: absolute;
  top: 845px;
  width: 100%;
  height: 200px;
}
.main_content .section_content .section03 .sec3_t_img {
  width: 1039px;
  height: 80px;
  background: url("../images/gongan_22.gif") no-repeat;
}
.main_content .section_content .section03 .sec3_left {
  width: 240px;
  height: 1060px;
  overflow: hidden;
}
.main_content .section_content .section03 .sec3_left .sec3_left01 ul {
  position: relative;
  text-align: center;
}
.main_content .section_content .section03 .sec3_left .sec3_left01 ul a {
  display: block;
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 14px;
}
.main_content .section_content .section03 .sec3_left .sec3_left01 ul a li {
  width: 220px;
  height: 45px;
  line-height: 45px;
  margin-bottom: 10px;
  background: url("../images/gongan_25.jpg") repeat-x;
}
.main_content .section_content .section03 .sec3_left .sec3_left02 ul a {
  display: block;
  color: white;
  font-size: 14px;
  text-decoration: none;
  text-align: center;
}
.main_content .section_content .section03 .sec3_left .sec3_left02 ul a li {
  width: 105px;
  height: 60px;
  background-color: #64c8a0;
  margin-bottom: 10px;
  margin-left: 10px;
  float: left;
  position: relative;
}
.main_content .section_content .section03 .sec3_left .sec3_left02 ul a li i {
  width: 32px;
  height: 26px;
  z-index: 10001;
  display: block;
  background: url("../images/icon/icon_03.png") no-repeat;
  margin: 0 auto;
  margin-top: 8px;
  margin-bottom: 2px;
}
.main_content .section_content .section03 .sec3_left .sec3_left02 ul a:nth-child(2) li {
  background-color: #98cd77;
}
.main_content .section_content .section03 .sec3_left .sec3_left02 ul a:nth-child(2) li i {
  background: url("../images/icon/icon_05.png") no-repeat;
}
.main_content .section_content .section03 .sec3_left .sec3_left02 ul a:nth-child(3) li {
  background-color: #6dc4da;
}
.main_content .section_content .section03 .sec3_left .sec3_left02 ul a:nth-child(3) li i {
  background: url("../images/icon/icon_09.png") no-repeat;
}
.main_content .section_content .section03 .sec3_left .sec3_left02 ul a:nth-child(4) li {
  background-color: #76c9ee;
}
.main_content .section_content .section03 .sec3_left .sec3_left02 ul a:nth-child(4) li i {
  background: url("../images/icon/icon_10.png") no-repeat;
}
.main_content .section_content .section03 .sec3_left .sec3_left02 ul a:nth-child(5) li {
  background-color: #ff8952;
}
.main_content .section_content .section03 .sec3_left .sec3_left02 ul a:nth-child(5) li i {
  background: url("../images/icon/icon_13.png") no-repeat;
}
.main_content .section_content .section03 .sec3_left .sec3_left02 ul a:nth-child(6) li {
  background-color: #ff7c7c;
}
.main_content .section_content .section03 .sec3_left .sec3_left02 ul a:nth-child(6) li i {
  background: url("../images/icon/icon_14.png") no-repeat;
}
.main_content .section_content .section03 .sec3_left .sec3_left02 ul a:nth-child(7) li {
  background-color: #ecbd46;
}
.main_content .section_content .section03 .sec3_left .sec3_left02 ul a:nth-child(7) li i {
  background: url("../images/icon/icon_17.png") no-repeat;
}
.main_content .section_content .section03 .sec3_left .sec3_left03 table {
  width: 240px;
  height: auto;
}
.main_content .section_content .section03 .sec3_left .sec3_left03 table tr {
  width: 80px;
}
.main_content .section_content .section03 .sec3_left .sec3_left03 table tr th {
  width: 80px;
  height: 40px;
  background-color: #d1e1f0;
  text-align: center;
  color: #1665A7;
}
.main_content .section_content .section03 .sec3_left .sec3_left03 table tr td {
  height: 25px;
  background-color: #f4f4f4;
  text-align: center;
  color: #1665A7;
  line-height: 25px;
}
.main_content .section_content .section03 .sec3_left .sec3_left03 table tr:last-child td a {
  text-decoration: none;
  color: #cd6601;
}
.main_content .section_content .section03 .sec3_left .sec3_left04 table {
  width: 240px;
  height: 160px;
}
.main_content .section_content .section03 .sec3_left .sec3_left04 table tr {
  width: 120px;
}
.main_content .section_content .section03 .sec3_left .sec3_left04 table tr td {
  width: 120px;
  height: 40px;
  background-color: #f4f4f4;
  text-align: right;
  color: #333;
}
.main_content .section_content .section03 .sec3_left .sec3_left04 table tr td:last-child {
  text-align: center;
  color: red;
}
.main_content .section_content .section03 .sec3_right {
  width: 790px;
  height: 1060px;
}
.main_content .section_content .section03 .sec3_right .r_content_top {
  height: 40px;
  margin-top: 20px;
}
.main_content .section_content .section03 .sec3_right .r_content_top ul {
  width: 790px;
}
.main_content .section_content .section03 .sec3_right .r_content_bottom ul {
  width: 790px;
}
.main_content .section_content .section03 .sec3_right .r_content_bottom ul li {
  width: 790px;
  height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
}
.main_content .section_content .section03 .sec3_right .r_content_bottom ul li a {
  width: 660px;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
  padding-left: 20px;
}
.main_content .section_content .section03 .sec3_right .r_content_bottom ul li span {
  padding-right: 10px;
}
footer {
  margin-top: 10px;
  width: 100%;
  min-width: 1040px;
  height: 118px;
  border-top: 2px solid #1665A7;
}
footer .footer_content {
  width: 1040px;
  height: 118px;
  margin: 0 auto;
}
footer .footer_content p {
  color: #999;
  text-align: center;
  margin: 0 auto;
  margin-top: 5px;
}
footer .footer_content p:first-child {
  margin-top: 40px;
}
